[submodule "UptimeKuma-DiscordBot"]
	path = UptimeKuma-DiscordBot
	url = https://github.com/Lauwy222/UptimeKuma-DiscordBot.git
[submodule "ctfbox"]
	path = ctfbox
	url = https://github.com/TheRomanXpl0it/ctfbox.git
[submodule "discord-telegram-simple-relay"]
	path = discord-telegram-simple-relay
	url = https://github.com/framp/discord-telegram-simple-relay.git
[submodule "docker-dashboard"]
	path = docker-dashboard
	url = https://github.com/rakibtg/docker-web-gui.git
[submodule "wazuh-docker"]
	path = wazuh-docker
	url = https://github.com/wazuh/wazuh-docker.git
[submodule "docker-discord-alerts"]
	path = docker-discord-alerts
	url = https://github.com/teddy-vltn/docker-discord-alerts.git
