[submodule "UptimeKuma-DiscordBot"]
	path = UptimeKuma-DiscordBot
	url = https://github.com/Lauwy222/UptimeKuma-DiscordBot.git
[submodule "ctfbox"]
	path = ctfbox
	url = https://github.com/TheRomanXpl0it/ctfbox.git
